body {
    background:  #525883;
    color: seashell;
}
#titulo {
    background: #3a3d50;
    text-align: center;
    box-shadow: 0px 2px 20px 0px rgba(34, 30, 30, 0.5);
}
#imagen {
    width: 5%;
}
#text {
    border: 2px solid steelblue;
    padding: 0.5em;
    font-family: monospace;
    font-weight: bold;
}
#text2 {
    border: 2px solid steelblue;
    padding: 0.5em;
    font-family: monospace;
    font-weight: bold;
}
#text3 {
    text-align: center;
}